* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background: #14b8a6;
    --text-color: #f8fafc;
    --nav-background: #030712;
}

body{
   background: var(--main-background);
   color: var(--text-color);
   height: 100svh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px 5px;
}

nav{
    background: var(--nav-background);
    width: fit-content;
    padding: 2rem;
    border-radius: 3rem;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: #14b8a6;
}